include /_template/index

- title = 'counter example'
- description = 'redux-saga-vanilla counter example'
- keywords = ''
- url = ''
- img = ''
- appid = ''

doctype html
html
  head
    block meta
      +meta
  body
    div
      p
        button(id='recordingStart') rec
        button(id='recordingStop') stop

    div#list

    block end_of_body
